body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  align-items: center;
  height: 100vh;
}

.App .editor {
  width: 50%;
  height: 99%;
}

.App .editor .rect-editor {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
}

.field {
  text-align: center;
  width: 100%;
}

.popup .field {
  margin-top: 50px;
  margin-bottom: 50px;
}

span.title {
  width: initial;
}

.App .editor .rect-editor span {
  display: inline-block;
  width: 50%;
}

.App .editor .rect-list {
  overflow: scroll;
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
}

.start-evolution {
  height: 10%;
  width: 100%;
  text-align: center;
}

.start-evolution button {
  height: 100%;
  width: 100%;
}

.App .editor .rect-list div {
  position: relative;
  text-align: center;
  height: 50px;
  width: 100%;
}

.App .editor .rect-list div span {
  position: absolute;
  left: 5%;
  display: inline-block;
}

button.delete-rect {
  position: absolute;
  right: 5%;
  align-self: flex-end;
  margin-right: 10px;
}

.App .result{
  box-sizing: border-box;
  width: 50%;
  align-self: flex-start;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App .result .result_img {
  width: 100%;
  height: 50%;
  position: relative;
  border-color: red;
  border-style: dashed;
  overflow: scroll;
}

.App .result_info {
  width: 100%;
  height: 40%;
  text-align: center;
}

.App .result_info .title {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.App .result_info .info_value {
  display: block;
  padding-bottom: 10px;
  font-weight: bold;
}

.App .result_img .canvas_wrapper {
  display: flex;
  position: absolute;
  height: 94.5%;
  top: 10px;
  left: 10px;
}

.App .result_img .canvas_wrapper::after{
  content: "";
  display: block;
  width: 10px;
}

.App .result_img canvas {
  height: 100%;
  position: relative;
}

.App .popup-layout {
  position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.8);
    z-index: 1;
}

.App .popup-layout .popup-wrapper {
  text-align: center;
  position: relative;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
}

.App .popup-layout .popup-wrapper .popup {
  position: absolute;
  background-color: white;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
}

.add-rect-buttons button {
  margin-left: 10px;
  margin-right: 10px;
}

.popup-wrapper button {
  display: block;
  margin: auto;
}
